.service-subtitle {
    color: #df2020;
}

.service-title span {
    color: #df2020;
}

.service-text {
    color: #777;
}

.servie-img {
    width: 20%;
}

.service-desc {
    color: #777;
    padding: 0 30px;
}

.food-category-btn {
    background-color: #df2020;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 0;
}

.food-category-btn button {
    color: #fff;
    font-weight: 600;
    margin: 0 8px;
    outline: none;
    border: none;
}

.food-category-btn button:hover {
    color: #fff;
}

.food-category-btn img {
    width: 20%;
}

.active-category-btn {
    color: #df2020 !important;
    background-color: #fff !important;
    border-radius: 5px;
}

.tasty-img img {
    width: 100%;
}

.tasty-title span {
    color: #df2020;
}

.tasty-desc {
    color: #777;
}

.tasty-content h6 {
    display: flex;
    align-items: center;
}

.tasty-content h6 i {
    color: #df2020;
    margin: 0 5px;
}

.tasty-content p {
    color: #777;
}

.testimonial-img img {
    width: 100%;
}

.testimonial-subtitle {
    color: #df2020;
}

.testimonial-title span {
    color: #df2020;
}

.testimonial-desc {
    color: #777;
    line-height: 32px;
}