.product-item {
    text-align: center;
    margin: 20px 0;
    padding: 15px 0;
}

.product-img img {
    width: 40%;
}

.product-content {
    margin: 20px;
}

.product-content div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-content span {
    color: #df2020;
    font-weight: 600;
}

.product-content button {
    background-color: #df2020;
    color: #fff;
    font-weight: 600;
}

.product-content button:hover {
    background-color: #212245;
    color: #fff;
}